/*
 Copyright (c) 2021 The Shunya Authors. All rights reserved.
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this file,
 You can obtain one at https://mozilla.org/MPL/2.0/.
 */

* {
  -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(255, 252, 240) !important;
}

.navigationButtons {
    display: flex;
}

.leftNavButton {
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 44px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 320px) {
    .leftNavButton {
        background: transparent;
        background-repeat: no-repeat;
        border: none;
        height: 44px;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 3px;
    }
}

.leftNavButtonTitle {
    color: rgb(76, 84, 210);
    font-size: 16px;
    font-family: SFProText-Semibold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 16px;

    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.rightNavButton {
    background: rgb(76, 84, 210);
    border-radius: 100px;
    background-repeat: no-repeat;
    border: none;
    height: 44px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
}

.rightNavButtonTitle {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: SFProText-Semibold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 16px;

    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.moreDetails {
    color: rgb(82, 82, 82);
    font-family: SFProText-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 133px;
    letter-spacing: 0px;
    line-height: 19px;
}

.hidden {
    display: none;
}

.arrow {
  display: inline-block;
  float: right;
  width: 18px;
  height: 10px;
  margin-left: 6px;
  margin-top: 4px;
}

.up {
    transform: rotate(-180deg);
    transition: 0.3s;
    -webkit-transform: rotate(-180deg);
}

.down {
    transform: rotate(0deg);
    transition: 0.3s;
    -webkit-transform: rotate(0deg);
}
