/*
 Copyright (c) 2021 The Shunya Authors. All rights reserved.
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this file,
 You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.post {
    padding-top: max(25px, env(safe-area-inset-top));
    padding-bottom: max(25px, env(safe-area-inset-bottom));
    padding-left: max(25px, env(safe-area-inset-left));
    padding-right: max(25px, env(safe-area-inset-right));
}

.background {
    background-color: white;
}

.icon {
    width: 64px;
    height: 64px;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: SFProDisplay-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.01px;
    line-height: 28px;
}

.description {
    color: rgb(82, 82, 82);
    font-size: 14px;
    font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 19px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

/** Center the content for iPads **/
@media (min-width: 600px) and (min-height: 600px) {
    .content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 650px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
