/*
 Copyright (c) 2021 The Shunya Authors. All rights reserved.
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this file,
 You can obtain one at https://mozilla.org/MPL/2.0/.
 */

ul {
    list-style: none;
    position: relative;
}

li {
    margin-left: -25px;
}

ul li::before {
    content: '•';
    position: absolute;
    left: 0pt;

    font-size: 14px;
    font-family: SFProText-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 19px;
}
