/*
 Copyright (c) 2023 The Shunya Authors. All rights reserved.
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this file,
 You can obtain one at https://mozilla.org/MPL/2.0/.
 */

* {
  -webkit-tap-highlight-color: transparent;
}

.navigationButtons {
  display: block;
}

.disableButton {
  background: rgb(255, 255, 255);
  border-radius: 100px;
  background-repeat: no-repeat;
  border: 1px solid rgb(76, 84, 210);
  height: 44px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-bottom: 20px;
}

.disableButtonTitle {
  color: rgb(76, 84, 210);
  font-size: 16px;
  font-family: SFProText-Semibold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  line-height: 16px;
  
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.proceedButton {
  background: rgb(76, 84, 210);
  border-radius: 100px;
  background-repeat: no-repeat;
  border: none;
  height: 44px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
}

.proceedButtonTitle {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: SFProText-Semibold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 16px;
  
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
