<!--
Copyright (c) 2021 The Shunya Authors. All rights reserved.
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this file,
You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<head>
    <meta name='viewport' content='initial-scale=1, maximum-scale=1, viewport-fit=cover'>
    <meta name="referrer" content="no-referrer">
    <title>%page_title%</title>
    <link rel="stylesheet" href="internal://local/interstitial-style/InterstitialStyles.css">
    <link rel="stylesheet" href="internal://local/interstitial-style/CertificateError.css">
        
    <script type="text/javascript">
        function toggleDetails(button) {
            var element = document.getElementById("details");
            var arrow = document.getElementById("arrow");
            if (element.style.display === "none") {
                element.style.display = "block";
                arrow.classList.replace("down", "up");
                button.firstChild.data = "%hide_details%";
            } else {
                element.style.display = "none";
                arrow.classList.replace("up", "down");
                button.firstChild.data = "%more_details%";
            }
        }
    </script>
</head>

<body dir="&locale.dir;" class="background content">
    <div class="container post">
        <img src="internal://local/interstitial-icon/Warning.svg" alt="Icon" class="icon" />

        <p class="title">
            %error_title%
        </p>

        <p id="descriptionWarning" class="description" style="display:none;">
            %error_description% <a class="description" href="https://support.google.com/chrome/answer/99020">%learn_more%</a>
            <br /><br /><br />
            %error_domain%
            <br /><br />
        </p>
        
        <p id="descriptionError" class="description" style="display:none;">
            %error_description%
            <br /><br /><br />
            %error_domain%
            <br /><br />
        </p>

        <div id="navigationButtons" class="navigationButtons">
            <button id="moreDetailsButton" class="leftNavButton leftNavButtonTitle">%more_details%
                <img id="arrow" class="arrow down" src="internal://local/interstitial-icon/Carret.png" alt="Icon" class="icon" />
            </button>
            <button id="backToSafetyOrReloadButton" class="rightNavButton rightNavButtonTitle">%back_to_safety_or_reload%</button>
        </div>

        <p id="details" class="moreDetails" style="display:none;">
            %error_more_details_description%
            <br /><br />
            <a id="proceedAnyway" class="moreDetails" href="#">%visit_unsafe%.</a>
        </p>
        
        <script type="text/javascript">
            var has_a_certificate = "%has_certificate%".toLowerCase() === "true";
            
            if (has_a_certificate) {
                // If we have a certificate, show the warning
                var element = document.getElementById("descriptionWarning");
                if (element != null) {
                    element.style.display = "block";
                }
                
                // Remove the error
                element = document.getElementById("descriptionError");
                if (element != null) {
                    element.remove();
                }
            } else {
                // We don't have a certificate, so remove the warning
                var element = document.getElementById("descriptionWarning");
                if (element != null) {
                    element.remove();
                }
                
                // Show the error
                element = document.getElementById("descriptionError");
                if (element != null) {
                    element.style.display = "block";
                }
                
                // Remove navigation buttons
                element = document.getElementById("navigationButtons");
                if (element) {
                    element.remove();
                }
                
                // Remove details
                element = document.getElementById("details");
                if (element) {
                    element.remove();
                }
            }
            
            var moreDetailsButton = document.getElementById("moreDetailsButton");
            if (moreDetailsButton != null) {
                moreDetailsButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    toggleDetails(moreDetailsButton);
                });
            }
            
            var proceedAnywayLink = document.getElementById("proceedAnyway");
            if (proceedAnywayLink != null) {
                proceedAnywayLink.addEventListener('click', function(e) {
                    e.preventDefault();
                    webkit.messageHandlers["%message_handler%"].postMessage({
                        "securityToken": "%security_token%",
                        "type": "certVisitOnce"
                    });
                });
            }
          
            if (!%allow_bypass% && proceedAnywayLink != null) {
              proceedAnywayLink.remove();
            }
          
            var backToSafetyOrReloadButton = document.getElementById("backToSafetyOrReloadButton");
            if (backToSafetyOrReloadButton != null) {
                backToSafetyOrReloadButton.addEventListener('click', function(e) {
                  if (%allow_bypass%) {
                    history.back();
                  } else {
                    location.reload();
                  }
                });
            }
        </script>
    </div>
</body>
