<!--
Copyright (c) 2021 The Shunya Authors. All rights reserved.
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this file,
You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<head>
    <meta name='viewport' content='initial-scale=1, maximum-scale=1, viewport-fit=cover'>
    <meta name="referrer" content="no-referrer">
    <title>%page_title%</title>
    <link rel="stylesheet" href="internal://local/interstitial-style/InterstitialStyles.css">
</head>

<body dir="&locale.dir;" class="background content">
    <div class="container post">
        <img src="internal://local/interstitial-icon/Generic.svg" alt="Icon" class="icon" />

        <p class="title">
            %error_title%
        </p>

        <p class="description">
            %error_description%
            <br /><br /><br />
            %error_domain%
            <br /><br />
        </p>
    </div>
</body>
